@model FrontEndWebRole.Models.OnlineOrder

@{
    ViewBag.Title = "Submit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Submit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Submit</h4>
        <p>Current number of orders in queue waiting to be processed: @ViewBag.MessageCount</p>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                    @Html.TextAreaFor(x => x.Customer)
                    @Html.TextAreaFor(x => x.Product)
            <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
